<ion-grid [fixed]="true" class="content">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <ion-row size="3" class="ion-justify-content-center ion-align-items-center">
      <ion-col>
          <ion-input formControlName="firstname" label="Name input"
            placeholder="Inserisci il tuo nome"></ion-input>
      </ion-col>
      <ion-col>
          <ion-input formControlName="lastname" label="Surname input" 
            placeholder="Inserisci il tuo cognome"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row size="3" class="ion-justify-content-center ion-align-items-center">
      <ion-col>
        
          <ion-input formControlName="email" label="Inserisci la tua email"
            placeholder="Inserisci la tua mail" ></ion-input>
          <ion-input formControlName="address" label="Inserisci il tuo indirizzo"
            placeholder="Inserisci il tuo indirizzo"></ion-input>
      </ion-col>
      <ion-col>
          <ion-input formControlName="password" label="Inserisci la tua password" 
            placeholder="Inserisci la tua password">
          </ion-input>
          <ion-input formControlName="cpassword" label="Inserisci la tua password" 
            placeholder="Conferma la tua password">
          </ion-input>
      </ion-col>
    </ion-row>
    <ion-button [disabled]="myForm.invalid" type="submit">Registrati</ion-button>
    <ion-button (click)="goToLoginPage()">Hai già un account? Effettua il Login</ion-button>
  </form>
</ion-grid>