.label{
    padding-left: 20px;
    font-style: italic;
}

.col{
    display: flex;
    align-items: center;
    justify-content: start;
}
.link{
    cursor: pointer;
}

ion-content{
    width: 100%;
    --background:none;
    background-image: url(../../../assets/images/gym-background.jpg);
}