<ion-header >
  <ion-toolbar>
    <ion-title>Hello friend</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Card title</ion-card-title>
      <ion-card-subtitle>Hello Friend</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card-content>
    Here's an example of one of the ionic components
  </ion-card-content>

</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-title>Hello friend</ion-title>
  </ion-toolbar>
</ion-footer>


