<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar [debounce]="1000" (ionInput)="searchProducts($event)"></ion-searchbar>
    <ion-buttons slot="primary">
      <ion-button (click)="addStoredItem()"> Aggiungi nuovo prodotto </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-label>
        <h2>Prodotti in magazzino</h2>
      </ion-label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onSubmit()">Applica filtri</ion-button>
      <ion-button (click)="rimuoviFiltri()">Rimuovi filtri</ion-button>
    </ion-buttons>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <ion-select [value]="false" label="Deleted:" formControlName="deleted">
          <ion-select-option [value]="true">True</ion-select-option>
          <ion-select-option [value]="false">False</ion-select-option>
        </ion-select>
    </form>
  </ion-toolbar>

  <table [table]="table" (editRowEvent)="editProduct($event)" (deleteRowEvent)="deleteStoredProduct($event)"></table>
</ion-content>
<ion-footer style="bottom: 0; display: contents;">
  <paginator *ngIf="list && list.length" (changePage)="changePage($event)" [current]="this.command.current"
    [itemsPerPages]="this.command.take" (changeSize)="changeSize($event)"></paginator>
</ion-footer>