<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Il tuo carrello</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="goToHome()">
        <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="!!basket && !!basket.basketItems && !!basket.basketItems.length">
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let item of basket.basketItems; index as i">
          <ion-thumbnail slot="start">
            <img [src]="basket.basketItems[i].storedProduct.img"/>
          </ion-thumbnail>
          <ion-label>{{basket.basketItems[i].storedProduct.nome}}</ion-label>
          <ion-label>Quantità prodotti disponibili {{basket.basketItems[i].storedProduct.qta}}</ion-label>
          <ion-label>Prezzo prodotto {{basket.basketItems[i].storedProduct.prezzo}}</ion-label>
          <ion-button (click)="rimuoviItem(basket.basketItems[i])">Rimuovi</ion-button>
          <ion-select *ngIf="!!basket && !!basket.basketItems && basket.basketItems[i].storedProduct.qta > 0" interface=popover
            [value]="basket.basketItems[i].quantita" (ionChange)="changeSizeOfPages($event,basket.basketItems[i])">
            <ion-select-option
              *ngFor="let prova of [].constructor(basket.basketItems[i].storedProduct.qta); index as j "
              [value]="j+1">{{j+1}}
            </ion-select-option>
          </ion-select>
          <ion-label class="label" *ngIf="basket.basketItems[i].storedProduct.qta <=0 "> Prodotto esaurito</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-content *ngIf="showEmptyBasket">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Il Tuo Carrello è vuoto.</ion-card-title>
      <ion-card-subtitle><a class="link-back" (click)="goToHome()">Continua a fare acquisti</a></ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
<ion-footer *ngIf="!!basket && !!basket.basketItems && !!basket.basketItems.length">
  <ion-toolbar>
    <ion-row class="footer">
      <ion-col>
        <ion-title>Procedi all'acquisto</ion-title>
      </ion-col>
      <ion-col>Totale : {{totaleCarrello}}€</ion-col>
      <ion-col><ion-button id="present-alert"  [disabled]="productsNotAvailable()" (click)="acquista()">Procedi all'ordine</ion-button>
        <ion-alert class="alert" trigger="present-alert" [isOpen]="isAlertOpen" header="Ordine effettuato"
          message="Il tuo ordine è stato inviato." (didDismiss)="goToOrders()"></ion-alert></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
<footer *ngIf="!basket || !basket.basketItems || !basket.basketItems.length"></footer>