<ion-header>
    <header (searchBarEvent)="searchProducts($event)" (resetEvent)="rimuoviFiltri()"></header>
</ion-header>
<ion-content [fullscreen]="true">
    <ion-toolbar>
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <ion-buttons slot="end">
                <ion-input class="input" color="primary" [debounce]="1000" placeholder="Filtra per prezzo massimo" [clearInput]="true" (ionInput)="onSubmit()" formControlName="prezzo" label="Prezzo max:" type="number"></ion-input>
                <ion-input class="input" color="primary" [debounce]="1000" [clearInput]="true" placeholder="Filtra per la quantità minima necessaria" (ionInput)="onSubmit()" formControlName="qta" label="Quantità minima prodotto:" type="number"></ion-input>
            </ion-buttons>
        </form>
    </ion-toolbar>
    <main-content [list]="this.list"></main-content>

</ion-content>
<ion-footer class="footer">
    <paginator *ngIf="list && list.length" (changePage)="changePage($event)" [current]="this.command.current"
        [itemsPerPages]="this.command.take" (changeSize)="changeSize($event)"></paginator>
</ion-footer>
<footer *ngIf="!list || !list.length"></footer>