.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../../../assets/images/gym-background.jpg');
    width: 100%;
    height: 100%;
}

.title{
    font-style: italic;
}

.item{
    border-radius: 4px;
    margin: 8px;
}