<ion-grid [fixed]="true" class="content">
  <ion-row size="3" class="ion-justify-content-center ion-align-items-center">
    <ion-item>
      <ion-input label="Email input" type="email" placeholder="email@domain.com"></ion-input>
    </ion-item>
  </ion-row>
  <ion-row size="3" class="ion-justify-content-center ion-align-items-center">
    <ion-item>
      <ion-input label="Password input" type="password" placeholder="Inserisci password" ></ion-input>
    </ion-item>
  </ion-row>
  <ion-row size="3" class="ion-justify-content-center ion-align-items-center">
    <ion-button>Accedi</ion-button>
  </ion-row>
</ion-grid>