ion-card:hover{
    background-color: grey;
    cursor: pointer;
    height: 100% !important;
}
.col{
    height: 100% !important;
}
.row{
    height: 50%;
}

.grid{
    height: 100%;
    width: 100%;
}


ion-content{
    --background:none;
    background-image: url(../../../assets/images/gym-background.jpg);
}