 <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ordini ricevuti</ion-title>



  </ion-toolbar>
</ion-header>

<!-- <ion-content  class="ion-padding" overflow-scroll="false">
  <table [table]="table" (editRowEvent)="editRow($event)"></table>
</ion-content>
<ion-footer>
  <paginator *ngIf="list && list.length" (changePage)="changePage($event)" [current]="this.command.current"
    [itemsPerPages]="this.command.take" (changeSize)="changeSize($event)"></paginator>
</ion-footer> --> 
