<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ordini ricevuti</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onSubmit()">Applica filtri</ion-button>
      <ion-button (click)="rimuoviFiltri()">Rimuovi filtri</ion-button>
    </ion-buttons>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <ion-row>
        <ion-col>
          <ion-input formControlName="totale" label="Totale ordine minimo:" type="number"></ion-input>
        </ion-col>
        <ion-col>
          <ion-select [value]="false" label="Deleted:" formControlName="deleted">
            <ion-select-option [value]="true">True</ion-select-option>
            <ion-select-option [value]="false">False</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col class="col-data">
          <ion-label>Range date</ion-label>
          <ion-datetime-button datetime="dataAcquistoDa"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime #dataAcquistoDa formControlName="dataAcquistoDa" id="dataAcquistoDa" presentation="date"></ion-datetime>
              <ion-buttons slot="buttons">
                <ion-button color="danger" (click)="dataAcquistoDa.reset(); resetData();">Reset</ion-button>
                <ion-button color="primary" (click)=" dataAcquistoDa.confirm(true); selezionaDataDa();">Conferma</ion-button>
              </ion-buttons>
            </ng-template>
          </ion-modal>
        </ion-col>
        <ion-col>
          <ion-datetime-button  *ngIf="dataAcquistoDaSelected && myForm.value.dataAcquistoDa"   datetime="dataAcquistoA"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime [min]="myForm.value.dataAcquistoDa" [value]="today" #dataAcquistoA formControlName="dataAcquistoA" id="dataAcquistoA" presentation="date"></ion-datetime>
              <ion-buttons slot="buttons">
                <ion-button color="danger" (click)="dataAcquistoA.reset(); resetData();">Reset</ion-button>
                <ion-button color="primary" (click)=" dataAcquistoA.confirm(true); selezionaDataDa();">Conferma</ion-button>
              </ion-buttons>
            </ng-template>
          </ion-modal>
        </ion-col>
      </ion-row>
    </form>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" overflow-scroll="false">
  <table *ngIf="!!table && !!this.table.rows.length && this.table.rows.length > 0" [table]="table"
    (editRowEvent)="editRow($event)" (deleteRowEvent)="deleteRow($event)"></table>
    <ion-card *ngIf="!table || !table.rows.length">
      <ion-card-header>
          <ion-card-title>Nessun risultato trovato</ion-card-title>
          <ion-card-subtitle>Rimuovi i filtri per avviare un'altra ricerca</ion-card-subtitle>
      </ion-card-header>
  </ion-card>
</ion-content>

<ion-footer>
  <paginator *ngIf="list && list.length" (changePage)="changePage($event)" [current]="this.command.current"
    [itemsPerPages]="this.command.take" (changeSize)="changeSize($event)"></paginator>
</ion-footer>
<footer *ngIf="!table || !table.rows.length"></footer>
