<ion-grid class="content">
    <ion-card *ngIf="!list || list.length<=0">
        <ion-card-header>
            <ion-card-title>La tua ricerca non ha prodotto alcun risultato</ion-card-title>
            <ion-card-subtitle>Rimuovi i filtri per avviare un'altra ricerca</ion-card-subtitle>
        </ion-card-header>
    </ion-card>
    <ion-row *ngIf="!!list && list.length>0">
        <ion-col size="1" *ngFor="let prodotto of list">
            <ion-card class="card">
                <ion-row class="img-row">
                    <img *ngIf="prodotto.img!" [src]="prodotto.img" height="200px"
                        style="display: flex; align-items: center; flex-direction: row; justify-content: center;">
                </ion-row>
                <ion-card-header  (click)="goToDetails(prodotto)">
                    <ion-card-title>{{prodotto.nome}}</ion-card-title>
                    <ion-card-subtitle>{{prodotto.prezzo}}€</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <ion-row class="ion-justify-content-center">
                        <ion-col class="col">
                            <ion-button expand="block" [disabled]="!userLogged() || adminLogged()"
                                (click)="setOpen(true, prodotto)">Aggiungi al carrello</ion-button>
                            <ion-toast [isOpen]="isToastOpen" message="Il prodotto è stato aggiunto correttamente al carrello" [duration]="120"
                                (didDismiss)="setOpen(false)"></ion-toast>
                        </ion-col>
                        <ion-col class="col">
                            <ion-button (click)="goToDetails(prodotto)">Dettaglio</ion-button>
                        </ion-col>
                    </ion-row>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-grid>