.card {
    height: 390px;
    width: 240px;
    cursor: pointer;
    background-color: #2c2c2c;
}

.card:hover{
    background-color: #545454;
}
ion-grid {
    --ion-grid-columns: 5;

    --ion-grid-padding: 10px;
    --ion-grid-padding-xs: 20px;
    --ion-grid-padding-sm: 20px;
    --ion-grid-padding-md: 20px;
    --ion-grid-padding-lg: 20px;
    --ion-grid-padding-xl: 20px;

    --ion-grid-column-padding: 20px;

    --ion-grid-column-padding-xs: 20px;
    --ion-grid-column-padding-sm: 20px;
    --ion-grid-column-padding-md: 20px;
    --ion-grid-column-padding-lg: 20px;
    --ion-grid-column-padding-xl: 20px;
    padding-bottom: 100px;
}

.button {
    --padding-bottom: 0;
    --padding-end: 0;
    --padding-start: 0;
    --padding-top: 0;
    font-size: 10px;
    width: 150px;
}

.col {
    padding-bottom: 0;
    padding-top: 0;
}

.img-row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    background-image: url('../../../assets/images/motivation.jpg');
    width: 100%;
}