<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="goToHome()">
        <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Le tue informazioni</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="myForm">
    <ion-row *ngIf="!!user">
      <ion-col>
        <ion-input *ngIf="user.firstname" [readonly]="true" label="Nome" [readonly]="true" formControlName="firstname"></ion-input>
        <ion-input label="Cognome" [readonly]="true" formControlName="lastname">
        </ion-input>
        <ion-input label="Email" [readonly]="true" formControlName="email">
        </ion-input>
      </ion-col>
    </ion-row>
  </form>
</ion-content>