
ion-content{
    --background:none;
    background-image: url(../../../assets/images/motivation.jpg);
}

.input{
    font-weight: bold;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 24px;
}