<ion-card *ngIf="!table || !table.rows || !table.rows.length">
  <ion-card-header>
    <ion-card-title>Non ci sono risultati visualizzabili!</ion-card-title>
  </ion-card-header>
</ion-card>
<ion-grid class="grid" *ngIf="!!table  && !!table.rows && !!table.rows.length">
  <ion-row>
    <ion-col size=2 class="header" *ngFor="let header of table.headers">
      <ion-item color="dark">
        <ion-label>{{header.nome}}</ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
  <ng-container>
    <ion-row *ngFor="let row of table.rows">
      <ion-col size=2 class="header" *ngFor="let column of row.columns">
        <ion-item class="item" color="light">
          <ion-label *ngIf="column.type != 'date' ">{{column.nome}}</ion-label>
          <ion-label *ngIf="!!column.type && column.type === 'date' ">{{column.nome | date : 'dd/MM/yyyy'}}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col *ngIf="table.hasActionsButton" size="2" class="edit-delete">
        <ion-button *ngIf="table.hasEditButton"(click)="editRow(row)">
          Visualizza
        </ion-button>
        <ion-button *ngIf="table.hasDeleteButton" (click)="deleteRow(row)">
          Elimina
        </ion-button>
      </ion-col>
    </ion-row>
  </ng-container>
</ion-grid>