.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    // margin-left: 10px;

}

.item {
    width: 200px;
}

.grid {
    height: 100%;
    padding-bottom: 100px;
}

.edit-delete {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
