<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Dettagli ordine</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goToHome()">
          <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">order-detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 class="head" *ngIf="!!order">Codice ordine : {{order.id}}</h1>
  <table class="table" *ngIf="!!table && !!this.table.rows.length && this.table.rows.length > 0" [table]="table"></table>
</ion-content>